@import './variables';
@import './general';

.light-mode-bg {
	background-color: $light-mode-background;
}

.right section {
	background-color: $black;
}

h1,
h2,
h4,
span,
p,
input,

a,
button {
	color: $white;
}

form,
input,
section {
	background-color: $dark-blue;
}

.container {
	.light-mode-container-bg {
		background-color: $light-mode-container-bg;
	}

	.light-mode-container-bg-2 {
		background-color: $light-gray;
	}

	.light-mode-text-1 {
		color: $navy;
	}

	.light-mode-text-2 {
		color: $gray;
	}

	.light-mode-text-heading {
		color: $dark-gray;
	}

	.light-mode-box-shadow {
		box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
	}

	.light-mode {
		background-color: $light-mode-background;
		color: $navy;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 3rem;

		.light-mode-logo-color {
			color: $light-mode-logo-color;
		}

		.logo {
			font-size: 2.6rem;
			font-weight: 400;
		}
		.toggle {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			.hide {
				display: none;
			}

			.light {
				font-weight: 700;
				font-size: 1.3rem;

				text-transform: uppercase;
				letter-spacing: 2.5px;
			}

			.dark {
				font-weight: 700;
				font-size: 1.3rem;

				text-transform: uppercase;
				letter-spacing: 2.5px;
			}

			.moon {
			}
		}
	}

	.form {
		width: 100%;
		padding: 0.75rem;

		border-radius: 1.5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 1.6rem;

		.search-icon {
			margin-right: 0.9rem;
		}

		#input {
			border: none;
      padding: 1rem 0;
			width: 100%;
			font-size: 1.3rem;

			font-weight: 400;
		}

    #input:focus, textarea:focus {
      outline: none;
    }

		#input::placeholder {
			font-weight: 400;
			font-family: 'Space Mono';
			font-size: 1.3rem;
		}

		.search {
			margin-left: auto;
			background-color: $blue;
			border: none;
			border-radius: 1rem;

			cursor: pointer;
			padding: 1.25rem 1.6rem;
		}
	}

	.content {
		border-radius: 1.5rem;
		padding: 2.4rem;

		.profile-pic-dsk {
			display: none;
		}

		.profile-header {
			display: flex;
			align-items: center;
			gap: 2rem;
			margin-bottom: 3.3rem;

			.profile-pic-tab-mob {
				width: 70px;
				height: 70px;
				border-radius: 50px;
			}

			.profile-header-content {
				h2 {
					font-size: 16px;
				}

				a {
					text-decoration: none;
					color: $blue;
					display: block;
					margin-bottom: 0.6rem;
				}

				span {
					font-size: 1.3rem;

					font-weight: 400;
				}
			}
		}

		p {
			font-weight: 400;
			font-size: 13px;
			line-height: 25px;
			margin-bottom: 2.3rem;
		}

		.profile-info {
			display: flex;
			justify-content: space-around;
			align-items: center;

			border-radius: 1rem;
			text-align: center;
			gap: 2.5rem;
			padding: 2rem;
			margin-bottom: 2.4rem;

			.info {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h4 {
					font-size: 1.1rem;
					font-weight: 400;
				}

				span {
					font-size: 16px;
					font-weight: 700;
				}
			}
		}

		.social {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			margin-bottom: 2rem;

			li {
				list-style: none;
				display: flex;
				gap: 2rem;
			}

			a {
				text-decoration: none;

				font-weight: 400;
				font-size: 1.3rem;
			}
		}
	}
}

// ****** LIGHT MODE CLASSES ********
