// ****** DARK MODE COLORS **********
$blue: #0079FF;
$white: #FFFFFF;
$black: #141D2F;
$dark-blue: #1E2A47;

// ******** LIGHT MODE COLORS *********
$gray: #697C9A;
$navy: #4B6A9B;
$dark-gray: #2B3442;

$light-gray: #F6F8FF;
$light-mode-container-bg: #FEFEFE;
$light-mode-background: #f2f2f2;
$light-mode-logo-color: #222731;

// ****** TYPOGRAPHY *******
